.main h1{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}
.main-container h1{
    padding: 20px;
    font-style:oblique;
}
.shoe-card{
    padding: 10px 40px;
    width: fit-content;
    display: inline-block;
}
.shoe-img img{
    width: 260px;
}
.shoe-details{
    display: flex;
    justify-content: space-between;
}
.shoe-details h4{
    margin-top: 14px;
    font-size: 17px;
    font-family: sans-serif;
}
.main{
    height:100vh;
    flex-wrap: wrap;
}